#account {

	min-height: 700px; min-width: 700px; height: 80%; margin: auto; width: 80%; 
	text-align: center; border: 1px solid black; background-color: #FAFAFA; margin-top: 2%; }

#nav_account {

	float: left; padding: 0; width: 20%; }

#nav_account ul {

 	padding: 0; margin: 0; list-style-type: none; color: white; }

#nav_account li {

 	border: 2px solid black; padding: 15px; font-size: 1.5em; margin-bottom: 5px; background-color: blue; }

#nav_account a {

	text-decoration: none; color: white; }

#account_gal, #account_adm {

	width: 79%; height: 99.99%; float: right; border-left: 2px solid black; background-color: #F8E0E0; }

#account_gal #photo {

	width: 20%; margin-top: 1%; margin-left: 2%; }

#update_account {

	display: block; width: 50%; margin-left: 20%; border: 1px solid black; margin-top: 4%; padding: 10px; 
	border-radius: 20px; background-color: white; }

#update_account label {

	float: left; display: block; width: 200px; }

#line {

	width: 100%; border-top: 2px solid black; margin-top: 5%; }

