html, body{ 

	height: 100%; margin: 0; padding: 0; }

body { 

	background-color: #E6E6E6; display: table; width: 100%; min-height: 100%; position: relative; }

/*HEADER*********************************************************************************************************************/

header { 

	height: 50px; width: 100%; background-image: linear-gradient(#FE2E2E 60%, #FA8258); position: fixed; z-index: 100; }


/*NAV************************************************************************************************************************/

nav {

	margin: auto; width: 80%; }

ul {

 	padding: 0; margin: 0; list-style-type: none; }

.left_menu {

 	float: left; }

.right_menu {

 	float: right; }

ul li a {
 
 	display: block; float: left; width: 100px; line-height: 50px;
 	color: #DCDCDC; text-decoration: none; text-align: center; }

ul li a:hover {
 
 	color: white; }

 .icon {

 	width: 2vh; }

 /*SECTION********************************************************************************************************************/

section { 

	min-height: 700px; min-width: 700px; margin: auto; margin-top: 3%; margin-bottom: 3%; 
	padding: 10px; border-radius: 20px; overflow:hidden; text-align: center; }

section img {

	width: 90%; border: 2px solid black; border-radius: 12px; }

#coms {

	width: 50%; font-size: 40%; }

#com_submit {

	display: none; }

#tmp {

	border: none; }

#page {

	background-color: white; }

#page a {

	text-decoration: none; }

div[id^='img-'] {

	float: left; width: 20%; margin-bottom: 20px; }

div[id^='tchat-'] {

	border: 1px solid black; background-color: white; position: absolute; width: 15%; margin-left: 2%;
	height: 200pt; overflow: auto; }


[class^='msg-'] {

	float: right; font-size: 30%; padding: 1.7px; }

.suppr {

	float: right; font-size: 30%; padding: 1.7px; background-color: red; }

.box_tchat {

	text-align: left; font-size: 90%; }

.date_msg {

	font-size: 30%; color: orange; }

[id^='msg-'] {

	display: block; background-color: grey; }


button {

	display: inline-block; border-radius: 4px; background-color: #f4511e; border: none; color: #FFFFFF;
  	font-size: 2%; padding: 5px; transition: all 0.5s; cursor: pointer; }

button span {

  	cursor: pointer; display: inline-block; position: relative; transition: 0.5s; }

/*button span:after {

  	content: '»'; position: absolute; opacity: 0; top: 0; right: -20px; transition: 0.5s; }*/

/*button:hover span {
  
  	padding-right: 25px; }*/

button:hover span:after {

  	opacity: 1; right: 0; }

.clear {
    
    clear: both; height: 0; line-height: 0; }

 /*FOOTER*********************************************************************************************************************/

footer { 

	height: 50px; width: 100%; background-image: linear-gradient(#FA8258, #FE2E2E 60%); bottom: 0; position: absolute; }