html, body{ 

	height: 100%; margin: 0; padding: 0; }

body { 

	background-color: #E6E6E6; display: table; width: 100%; min-height: 100%; position: relative; }

/*HEADER*********************************************************************************************************************/

header { 

	height: 50px; width: 100%; background-image: linear-gradient(#FE2E2E 60%, #FA8258); position: fixed; z-index: 100; }


/*NAV************************************************************************************************************************/

nav {

	margin: auto; width: 80%; }

nav ul {

 	padding: 0; margin: 0; list-style-type: none; }

.left_menu {

 	float: left; }

.right_menu {

 	float: right; }

nav ul li a {
 
 	display: block; float: left; width: 100px; line-height: 50px;
 	color: #DCDCDC; text-decoration: none; text-align: center; }

nav ul li a:hover {
 
 	color: white; }

 .icon {

 	width: 2vh; }


/*SECTION********************************************************************************************************************/

@media screen and (min-width: 1740px)
{
	section { 

		min-height: 700px; min-width: 700px; margin: auto; width: 70%; margin-top: 3%; margin-bottom: 4%;
		text-align: center; padding: 10px; border-radius: 20px; }

	#last_pic {

		float: right; text-align: center; width: 20vh; padding: 10px; border-radius: 10px; border: 1px dashed black; 
		background-color: #FFFFFF; display: inline-block; min-width: 100px; }

	#last_pic img {

		width: 80%; display: block; margin: auto; border: 2px solid black; border-radius: 12px; 
		margin-top: 5px; }

	#last_pic h1 { 

		text-align: center; top: 0px; background-color: green; font-size: 2vh; }

	#last_pic a {
		
		cursor: zoom-in; }

	#cam {

		padding: 10px; display: inline-block; min-width: 200px; max-width: 600px; width: 70vh; }

	#startbutton { 

		background-color: #01DF01; font-size: 2vh; color: white; }

	#stop { 

		background-color: red; font-size: 2vh; color: white; }

	#canvas {

		display: none; max-width: 400px; }

	video {

		width: 70vh; min-width: 600px; max-width: 600px; display: block; z-index: 1; }

	#vid {

		overflow: hidden; position: absolute; 
		width: 600px; height: 450px; }

	#sticker {

		position: relative; z-index: 2; float: left; }


	#calque {

		float: left; text-align: center; width: 40vh; padding: 10px; border-radius: 10px; border: 1px dashed black; 
		background-color: #FFFFFF; display: inline-block; min-width: 100px; }

	#calque h1 { 

		text-align: center; top: 0px; background-color: green; font-size: 2vh; }

	#calque table {

		margin: auto; width: 100%; background-color: orange; }

	#calque table, #calque td {

		border: 1px solid black; border-collapse: collapse; }

	#calque img {

	width: 20%; }
}

@media screen and (max-width: 1740px)
{
	section { 

		min-height: 700px; min-width: 700px; margin: auto; width: 70%; margin-top: 5%; margin-bottom: 4%;
		text-align: center; padding: 10px; border-radius: 20px; }

	#last_pic {

		text-align: center; width: 100%; padding: 10px; border-radius: 10px; border: 1px dashed black; 
		background-color: #FFFFFF; display: inline-block; min-width: 100px; }

	#last_pic img {

		width: 18%; border: 2px solid black; border-radius: 12px; 
		margin-top: 5px; }

	#last_pic h1 { 

		text-align: center; top: 0px; background-color: green; font-size: 2vh; }

	#last_pic a {
		
		cursor: zoom-in; }

	#cam {

		padding: 10px; }

	#startbutton { 

		background-color: #01DF01; font-size: 2vh; color: white; }

	#stop { 

		background-color: red; font-size: 2vh; color: white; }

	#canvas {

		display: none; max-width: 400px; }

	video {

		width: 600px; height: 450px; z-index: 1; }

	#vid {

		overflow: hidden; position: absolute; width: 600px; height: 450px; border: 2px solid black; }

	#sticker {

		position: relative; z-index: 2; float: left; }


	#calque {

		text-align: center; width: 100%; padding: 10px; border-radius: 10px; border: 1px dashed black; 
		background-color: #FFFFFF; display: inline-block; min-width: 100px; height: 150px; overflow: auto; }

	#calque h1 { 

		text-align: center; top: 0px; background-color: green; font-size: 2vh; }

	#calque table {

		margin: auto; width: 100%; background-color: orange; }

	#calque table, #calque td {

		border: 1px solid black; border-collapse: collapse; }

	#calque img {

	width: 5%; }
}


#success {

	width: 100%; height: 40vh; border: 2px solid black; margin: auto; border-radius: 25px; background-color: white; }

#success p {

	padding: 30px; font-size: 3vh; }

#success h1 { 

	text-align: center; top: 0px; background-color: green; }

#success .linkToHome {

	font-size: 3vh; text-align: center; display: block; }


/*FOOTER*********************************************************************************************************************/

footer { 

	height: 50px; width: 100%; background-image: linear-gradient(#FA8258, #FE2E2E 60%); bottom: 0; position: absolute; }