#signup {

	margin: auto; min-height: 70vh; width: 80%; background-image: url("img/signup_bg.png"); background-size: contain;
	background-repeat: no-repeat; background-position: center; text-align: center; }

#create-user {

	margin: 0 auto; top: 32vh; left: 5vh; background-color: blue; font-size: 5vh; border-radius: 20px; color: white; width: 40vh; opacity: 0.5; }

#create-user:hover, #log-user:hover {

	opacity: 1; }

#log-user {

	margin: 0 auto; top: 27vh; left: 5vh; background-color: green; font-size: 5vh; border-radius: 20px; color: white; width: 40vh; opacity: 0.5; }

#log { 

	border: 2px solid black; border-radius: 20px; background-color: white; height: 150px; text-align: center; padding: 50px; width: 50%; }

label, input { 

	display: block; text-align: center; margin: auto; }

.fields {

	color: red; }

#form_signin {

	margin-top: 20%; }

#main_div {

	border: 2px solid black; width: 400px; height: 400px; padding: 10px; background-color: white; border-radius: 20px; 
	position: absolute; left: 50%; top: 50%; margin-left: -200px; margin-top: -200px; }

#form_signup_wjq {

	float: right; }

#form_signin_wjq {

	float: left; }

#form_signin_reset {

	margin-top: 27%; }

#form_signup_reinit {

	margin-top: 20%; }

#error {

	background-color: orange; border: 1px solid red; border-radius: 20px; width: 400px; 
	display: block; margin: auto; padding: 10px; margin-top: 5%; }

